@CHARSET "ISO-8859-1";
#navcolor{
	background-color: #004040;
	

}
#links a{
	color:#c0c0c0;
	font-size: 17px;
}
.dropdown-menu
{
	background:#004040;
}
.dropdown-menu >li > a:hover {
   color: white;
   text-decoration: none;
   background-color: #006262;
} 
.dropdown:hover
{
	background-color:#006262;
}